body{
    background-color: white;
    margin: 0;
}
h1{
    color:black
}
h3{
    color:black
}
button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: black;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

li {
    float:left
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: lightskyblue;
}