<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('main.info_page') }}">Info</a></li>
        <li><a href="{{ url_for('main.simulator_page') }}">Simulator</a></li>
    </ul>
    <h1>Phishing Simulator</h1>

    <h3>Info Page</h3>
    <a href="{{ url_for('main.info_page') }}">
        <button></button>
    </a>
    <h3>Simulator</h3>
    <a href="{{ url_for('main.simulator_page') }}">
        <button></button>
    </a>
    <h3>Data</h3>
    <a href="{{ url_for('main.show') }}">
        <button></button>
    </a>    
</body>
</html>
