<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="simulator-bg">
    <nav class="navbar navbar-expand-lg navbar-dark glass-nav outline-thin">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="#">DeTech</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                  <a class="nav-link" href="{{ url_for('main.info_page') }}">Info</a>
                  <a class="nav-link active" aria-current="page" href="{{ url_for('main.simulator_page') }}">Simulator</a>
                </div>
              </div>
        </div>
    </nav>
    <div class="container-fluid page-content outline-thin justify-content-center d-flex">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h1>The Simulator Retake</h1>
                <form method="GET" action="{{ url_for('main.start_posttest') }}">
                    <button type="submit" class="welcome-button">Start Simulator</button>
                </form>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark glass-nav fixed-bottom outline-thin">
        <div class="container-fluid justify-content-center">
            <a class="nav-link text-light mx-3">Email: contact@detech.com</a>
            <a class="nav-link text-light mx-3">Call: +1 555-555-5555</a>
            <a class="nav-link text-light mx-3">Contact Form</a>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='ai.js') }}"></script>

</body>
</html>